black
flake8
pandas>=1.5     
numpy>=1.23      
pyarrow>=8.0   
gdown>=4.6.4       
matplotlib>=3.6 
seaborn>=0.12    
ipympl>=0.9          
scikit-learn>=1.2  
jupyter>=1.0        
notebook>=7.0        
requests>=2.0    
xmltodict>=0.12    
beautifulsoup4>=4.9
lxml>=4.6
sqlalchemy>=2.0
psycopg2-binary>=2.9
python-dotenv>=1.0
plotly>=5.14
ipywidgets>=7.6
jupyterlab-widgets
kaleido>=0.2
argparse
